.menu i.material-icons {
    font-size: 30px;
    color: #0d47a1;
}



.card-image img {
    width: 70px !important;
}

.osnova {
    background-color: #bbdefb;
    width: 150px;
}

.plus {
    text-align: end;
}

.time{
    color: gray;
}

.img-card {
    margin-bottom: 100px;
}

.span-badge{
    display: flex;
}